
   body {
        background-image: url(img/dora.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        color : white;
        font-family: 'Jolly Lodger', cursive;
        font-size: 1.5em
    }
    #home {
        background : #000000;
    }
    #title {
        color :  #e91212 ;
        font-size : 2.5em;
        font-family: 'Nosifer', cursive;
        text-align: center;
    }
    h2 {
        font-family: 'Butcherman', cursive;
        font-size : 2em;
        color :  #d35400 ;
    }
    #serie {
        font-family: 'Jolly Lodger', cursive;
        font-size: 2.5em;
        margin : 15px;
    }
    .menu {
        font-size : 1.5em;
        margin : 30px;
        font-family: 'Creepster', cursive;
        text-decoration: none;
    }
    .contenu {
        font-size : 2em;
    }
    table {
        margin : auto;
        border : 3px solid #e91212;
        box-shadow:0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
        color: white;
    }
    th {
        font-size : 1.3em;
        padding : 10px;
        border : 1px solid #e91212;
    }
    td  {
       padding : 15px;
       border : 1px solid #e91212;
    }
    #supprimer {
        color : #e91212;
        font-family: 'Nosifer', cursive;
        font-size : 0.4em;
    }
    a {
        text-decoration: none;
    }
    div {
        text-align: center;
    }
    footer {
        border-top : 2px dotted #e91212;
        font-family: 'Butcherman', cursive;
        font-size : 2em;
        margin : 50px;
    }